body {
  background: black;
  color: white;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'Otomanopee One', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  display: grid;
  justify-items: left;
  align-content: center;
  padding-left: 200px;
}
#colorSel {
  display: none;
}
